*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    position: relative;
    background-color: #f6f7f8;
}
main {
    height: 760px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-message-container {
    /* border: 1px solid red; */
    padding: 10px;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
}

.success-message {
    font-size: 14px;
    width: max-content;
    background: linear-gradient(135deg, #e6f8ec, #f1fdf4);
    border: 1px solid #bbf7d0;
    border-radius: 12px;
    padding: 17px 86px 17px 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    animation: slideIn linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 1s alternate 1;
}
.redirecting-message p {
    color: green;
    line-height: 1.7;
}
#check {
    width: 23px;
    border-radius: 100%;
}
@keyframes slideIn {
    from {
        translate: 400px;
    }
    to {
        translate: 0px;
    }
}
.form {
    /* border: 1px solid blue; */
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
}
.company-logo-and-name {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.company-logo-and-name h2 {
    display: inline-flex;
    align-items: center;
    gap: 7px;
}
#logo {
    width: 40px;
    border-radius: 90%;
}

.form-container {
    /* border: 1px solid red; */
    background-color: #fefefe;
    border-radius: 20px;
    padding: 32px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.form-header h1 {
    font-size: 1.875rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.033em;
}
.form-header p{
    font-size: 1.1rem;
    color: #4b5563;
    text-align: center;
}
.form-fields-container {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.form-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-fields label {
    font-size: 0.875rem;
    /* font-weight: 600; */
    margin-bottom: 5px;
}
.form-fields input {
    background-color: #eff3f7;
    padding: 12px;
    border-radius: 13px;
    outline: none;
    border: 2px solid #d1e5f9;
    font-size: 16px;
}
.form-fields input::placeholder {
    color: #b6bfd1;
}
.form-fields input:focus {
    outline: 2px solid #8fc0f0;
}
#forgot-password {
    align-self: flex-end;
    text-decoration: none;
    color: #197de1;
    font-size: 0.875rem;
    font-weight: 600;
}
#login-btn {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    background-color: #197de1;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 13px;
}
#login-btn:hover {
    background-color: #186dc2;
    cursor: pointer;
}
.sign-up {
    padding: 10px 0px;
    color: #6b7280;
    font-size: 0.875rem;
}
.sign-up a {
    text-decoration: none;
    color: #197de1;
    font-weight: 600;
    font-size: 0.875rem;
}
.form-fields p {
    display: none;
    color: red;
}